@import 'colors';

.auth-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  height: 100vh;
  @media screen and (min-width: 750px){      
    flex-direction: row;
  }
  section {
    @media screen and (min-width: 750px){      
      display: flex;
      flex-direction: column;
      justify-content: center;
      width: 50%;
    }
    &:nth-of-type(2) {
      background-color: $dark-blue;
      color: #f3f3f3;
    }
    h1 {
      font-size: 30px;
      font-weight: 400;
      margin-bottom: 10px;
    }
    h2 {
      font-size: 30px;
      font-weight: 200;
    }
  }
  .img-container {
    padding-bottom: 20px;
    border-bottom: 1px solid #001134;
    margin: 0 auto 40px;
    img {
      width: 200px;
    }
  }  
  h2 {
    margin-bottom: 30px;
  }
  form {
    display: flex;
    flex-direction: column;
    max-width: 320px;
    width: 100%;
    margin: 0 auto 10px;
    label {
      margin: 15px 0;
      text-align: left;
      font-weight: 400;
    }
    input {
      font-size: 14px;
      height: 33px;
      border-radius: 5px;
      border: 1px solid #e1e1e1;
      outline: none;
      padding: 3px 20px;
      width: 320px;
      box-sizing: border-box;
      align-self: center;
      transition: 0.3s;
      color: #4a4a4a;
      &:focus {
        transition: 0.3s;
        border: 1px solid #ffa041b2;
      }
    }
    .feedback {
      height: 33px;
      width: 15px;
      margin-top: -33px;
      border-radius: 3px 0 0 3px;
      background-color: #ff8989;
      visibility: visible;
      opacity: 1;
      transition: visibility 3s, opacity 3s linear;
    }
    .feedback-text {
      font-size: 14px;
      text-align: left;
      margin-top: 5px;
      margin-bottom: -12px;
      color: #ff8989;
    }
    .btn-success {
      width: 80px;
      margin: 20px 0 5px;
      color: #f3f3f3;
      border: none;
    }
  }
  p {
    font-weight: 400;
  }
  a {
    margin-top: 5px;
    color: #588aff;
    
  }
  
}
