@import 'colors';

.btn {
  padding: 5px 10px;
  border-radius: 5px;
  border: none;
  outline: none;
  font-weight: bold;
  font-size: 14px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  transition: 0.3s;
}

.btn-icon {
  border: none;
  outline: none;
  cursor: pointer;
  background: none;
  &__action {
    width: 20px;
    padding: 5px;
    background-color: #e1e1e17a;
    border-radius: 3px;
    transition: 0.3s;
    &:hover {
      transition: 0.3s;
      background-color: #afafaf;
    }
  }
}

.btn:hover {
  filter: brightness(95%);
}

.btn-success {
  background-color: #598AFF;
  color: $white;
  &--edit {
    width: 50px;
    margin-top: 10px;
    align-self: center;
  }
}

.btn-delete {
  color: #ff8484;
  background: transparent;
  border: 1px solid #ff8484;
}

.btn-create {
  background-color: $orange;
  color: $dark-blue;
  padding: 5px 15px;
}

.btn-edit {
  background-color: $dark-blue;
  color: $white;
}

.btn-filter {
  background-color: #f7f8ff;
  color: #001034;
  border: 2px solid #001034;
  align-self: center;
}

.btn-cancel {
  background: none;
  margin-top: 5px !important;
  &:hover {
    color: #5a5a5a;
  }
}