@import 'colors';

.btn {
  padding: 5px 10px;
  border-radius: 5px;
  border: none;
  outline: none;
  font-weight: bold;
  font-size: 14px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  transition: 0.3s;
}

.btn-icon {
  border: none;
  outline: none;
  cursor: pointer;
  background: none;
  &__unsave {
    width: 20px;
    padding: 5px;
    background-color: #e1e1e17a;
    border-radius: 3px;
    transition: 0.3s;
    &:hover {
      transition: 0.3s;
      background-color: #afafaf;
    }
  }
}

.btn:hover {
  filter: brightness(95%);
}

.btn-success {
  background-color: #bdffbd;
}

.btn-delete {
  background-color: #ff8484;
  color: $white;
}

.btn-create {
  background-color: $orange;
  color: $dark-blue;
  padding: 5px 15px;
}

.btn-edit {
  background-color: $dark-blue;
  color: $white;
}