@import 'colors';

.comment {
  margin-top: 10px;
  
  &__author {

  }

  &__date {
    color: burlywood;
  }

  &__text {
    display: block;
    position: relative;
    background-color: #fff;
    padding: 10px;
    margin-top: 20px;
    border-radius: 3px;
    border: 1px solid #ddd;
    max-width: 400px;
    &:before, &:after {
      content: '';
      display: block;
      position: absolute;
      bottom: 100%;
      width: 0;
      height: 0;
    }
    &:before {
      left: 19px;
      border: 11px solid transparent;
      border-bottom-color: #ddd;
    }
    &:after {
      left: 20px;
      border: 10px solid transparent;
      border-bottom-color: #fff;
    }
  }
}
