@import 'colors';
.profile-header {
  display: flex;
  a {
    margin-left: auto;
  }
}
.profile-container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-top: 30px;
  .profile-column {
    display: flex;
    flex-direction: column;
    max-width: 315px;
    width: 100%;
  }
  .header {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 0 5px;
    box-sizing: border-box;
  }
}

.list-container {
  background-color: #ebecf0;
  box-sizing: border-box;
  padding: 20px 10px;
  margin-top: 20px;
  border-radius: 10px;
  max-height: 550px;
  height: auto;
  overflow-y: scroll;
  padding-right: 20px;
  &__item {
    display: flex;
    flex-direction: column;
    padding: 15px;
    width: 100%;
    box-sizing: border-box;
    border-bottom: 1px solid #E1E1E1;
    background-color: #fff;
    border-radius: 12px;
    margin-bottom: 8px;
    cursor: pointer;
    a {
      display: flex;
      flex-direction: column;
    }
    &:last-of-type {
      border-bottom: none;
    }
    transition: 0.3s;
    &:hover {
      transition: 0.3s;     
      background-color: #f3f3f3;
    } 
    button {
      width: 20px;
      margin-left: auto;
      margin-right: 14px;
      margin-top: -30px;
    }
  }
  &--trainings {
    padding: 0px 10px 20px;
    max-height: 800px;
    &__item {
      &:hover {
        background-color: $white;
      }
    }
  }
}

// exercise type color legend
.item-type {
  border-radius: 3px;
  padding: 2px 5px;
  box-sizing: border-box;
  text-align: center;
}
.defense {
  background-color: bisque;
  width: 70px;
}
.skills {
  background-color: mediumturquoise;
  width: 50px;
}

