@import 'colors';
.profile-header {
  display: flex;
  align-items: center;
  a {
    margin-left: auto;
  }
  // modifier
  &--details {
    padding-bottom: 10px;
    border-bottom: 1px solid #E1E1E1;
    flex-direction: column;
    align-items: flex-start;
    a {
      align-self: center;
    }
    &__info {
      display: flex;
      justify-content: space-between;
      width: 100%;
      .item-type {
        align-self: center;
        margin-left: 20px;
        margin-right: auto;
      }
    }
  }
}

.loading-gif-btn {
  width: 78px;
  display: flex;
  align-self: center;
  margin-top: 15px;
  cursor: progress;
  img {
    width: 18px;
    height: 18px;
  }
}

.profile-container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-top: 30px;
  .profile-column {
    display: flex;
    flex-direction: column;
    max-width: 315px;
    width: 100%;
  }
  .header {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 0 5px;
    box-sizing: border-box;
  }
}

.list-container {
  background-color: #ebecf0;
  box-sizing: border-box;
  padding: 20px 10px;
  margin-top: 20px;
  border-radius: 10px;
  max-height: 800px;
  height: auto;
  overflow-y: scroll;
  padding-right: 20px;
  &__item {
    display: flex;
    flex-direction: column;
    padding: 15px;
    width: 100%;
    box-sizing: border-box;
    border-bottom: 1px solid #E1E1E1;
    background-color: #fff;
    border-radius: 12px;
    margin-bottom: 8px;
    cursor: pointer;
    a {
      display: flex;
      flex-direction: column;
      &>div {
        margin: 10px 0 0;
      }
    }
    &:last-of-type {
      border-bottom: none;
    }
    transition: 0.3s;
    &:hover {
      transition: 0.3s;     
      background-color: #f3f3f3;
    } 
    button {
      width: 20px;
      margin-left: auto;
      margin-right: 14px;
      margin-top: -30px;
    }
    &--training {
      max-width: 350px;
      box-shadow: 0 2px 8px 0px #e1e1e1;
      margin-bottom: 20px;
      .inline-display {
        margin-top: 0;
        margin-bottom: 5px;
        padding-bottom: 5px;
        border-bottom: 1px solid #e1e1e1;
      }
      > a > p:last-of-type {
        height: 35px;
        overflow: overlay;
        margin-top: 5px;
        color: #4a4a4a;
      }
      
    }
  }
  &--trainings {
    padding: 0px 10px 20px;
    max-height: 800px;
    &__item {
      &:hover {
        background-color: $white;
      }
    }
  }
}

.stopwatch-icon {
  width: 12px;
  margin-right: 5px;
}

// exercise type color legend
.item-type {
  border-radius: 3px;
  padding: 2px 5px;
  box-sizing: border-box;
  text-align: center;
}
.all {
  background-color: #e2fffd;
  width: 40px;
  color: #70cfc8!important;
}
.skills {
  background-color: #e4f7fc;
  width: 50px;
  color: #2eb5e0!important;
}
.attack {
  background-color: #fcffcb;
  width: 70px;
  color: #caa51b!important;
}
.defense {
  background-color: bisque;
  width: 70px;
}
.sc {
  background-color: #e4ffe4;
  width: 30px;
  color: #2ee08d!important;
}

.stretch {
  background-color: lightpink;
  width: 70px;
}
.recovery {
  background-color: #90ffc7;
  width: 75px;
}

// SHARE BUTTON
/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 47px;
  height: 25px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 18px;
  width: 18px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(20px);
  -ms-transform: translateX(20px);
  transform: translateX(20px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

// EDIT PROFILE
.edit-exercise {
  &__img {
    width: 80%;
  }
}